.review-bubble {
    position: relative;
	background: #f7d19e;
	border-radius: 5px;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.review-bubble:after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 5%;
	width: 0;
	height: 0;
	border: 20px solid transparent;
	border-top-color: #f7d19e;
	border-bottom: 0;
	border-right: 0;
	margin-left: -10px;
	margin-bottom: -20px;
}

.review-bubble>h2 {
    margin: 0px;
}

.review-bubble~div {
    float: left;
    margin-top: 10px;
    margin-left: 38px;
    background: #555;
    color: #FFF;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.review-bubble~div>p {
    margin: 0px;
}

.review-item {
    margin: 20px;
    margin-bottom: 75px;
}

.reviews-list {
    margin: auto;
    width: 500px;
}